# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Node
apps/web/node_modules/

# AI Models
*.bin
*.pt
*.safetensors
models/
sentence-transformers/
huggingface/

# Data
data/
datasets/

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
.venv/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

__pycache__/
*.pyc

# editor files
.vscode/
.idea/

